* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to right top,
        #051937,
        #004d7a,
        #008793,
        hsl(203, 100%, 37%),
        #eb12e4
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyCode {
    padding: auto;
    margin: 5px;
    background-image: linear-gradient(to right, rgb(92, 145, 229), rgb(152, 63, 198));
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0.2em silver;
    border-radius: 10px;
    text-align: center;
    width: 25em;
}

#btn1 {
    background-image: linear-gradient(to right, #0d4fb4, #93832a); 
    color: hsl(240, 5%, 4%);
    width: 125px;
    height: 30px;
    border-radius: 5px;
    margin-right: 0.2em;
    cursor: pointer;
    font-size: 18px;
}

#btn2 {
    background-image: linear-gradient(to right, #0d4fb4, #93832a); 
    color: hsl(240, 5%, 4%);
    width: 125px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.myButton {
    display: flex;
    margin-left: 125px;
}

h3 {
    font-size: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    cursor: pointer;
}
